.inventario-table { 
    width: 100%; 
    table-layout: fixed; 
    border-collapse: collapse; 
    background: white; 
    border-radius: var(--radius-sm); 
    overflow: hidden; 
    box-shadow: var(--shadow-sm); 
    margin-top: 10px; 
}

.inventario-table th { 
    text-align: left; 
    padding: 15px; 
    background: #f8fafc; 
    color: var(--texto-claro); 
    font-size: 13px; 
    text-transform: uppercase; 
    border-bottom: 2px solid var(--fondo-gris); 
}

.inventario-table td { 
    padding: 15px; 
    border-bottom: 1px solid var(--fondo-gris); 
}

.logoLapiz { 
    width: 20px; 
    height: 20px; 
}

.lapiz-btn { 
    padding: 0; 
    margin: 0; 
}

#guardar-alimento-btn {
     width: 70px; 
     height: 27px; 
    }

/* Filtros */
.filter-row-container { 
    background: #fdfdfd; 
    padding: 10px; 
    margin-top: 10px; 
    border: 1px solid #e0e0e0; 
    border-bottom: none; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
}

.filter-grid { 
    display: grid; 
    grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr; 
    gap: 15px; 
    align-items: center; 
}

.filter-input { 
    width: 100%; 
    padding: 6px 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 13px; 
    outline: none; 
}

.filter-input:focus { 
    border-color: var(--primario); 
}

.filtros-botones { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.filter-col { 
    min-width: 50px; 
    max-width: 120px; 

}

.add-btn { 
    background: var(--primario); 
    color: white; 
    border: none; 
    padding: 12px 18px; 
    border-radius: var(--radius-sm); 
    font-weight: 700; 
    cursor: pointer; 
    box-shadow: 0 4px 15px rgba(34, 86, 255, 0.3); 
    transition: all 0.3s ease; 
}

.add-btn:hover { 
    background: var(--primario); 
    transform: translateY(-2px); 
    box-shadow: 0 6px 20px var(--primario-oscuro); 
}

.add-btn span { 
    font-size: 20px; 
    margin-right: 5px; 
}

#filtrar { 
    width: 20px; 
    height: 20px; 
}

.filtro-btn { 
    background: var(--blanco); 
    color: var(--texto-oscuro);
    border: 2px solid var(--fondo-gris); 
    padding: 10px 10px; 
    border-radius: var(--radius-sm); 
    font-weight: 600; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    display: flex; 
    align-items: 
    center; gap: 8px; 
}

.filtro-btn:hover { 
    background: var(--primario-claro); 
    border-color: var(--primario); 
    color: var(--primario); 
}

/* Añadir/Modificar Alimento */
.cantidad-alimento { 
    display: flex; 
    align-items: center; 
    gap: 15px; 
}

#alimento-cantidad { 
    width: 35%; 
}

#alimento-unidad, #alimento-tamano { width: 30%; }

.modificar-columna-cantidad { 
    display: flex; 
    align-items: center; 
    gap: 5px; 
}

.guardar-lote-btn { 
    width: 70px; 
    height: 27px; 
}

.cantidad-alimento-input { 
    width: 60px; 
    flex-shrink: 0; 
}

.input-tabla { 
    width: 150px; 
    flex-shrink: 0; 
}