.pageWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #024fa2, #012549);
}

.contenedorLogin {
  background: #ffffff;
  padding: 40px;
  border-radius: 24px;
  width: 90%;          
  max-width: 400px;    
  text-align: center;
  box-shadow: 0 10px 25px rgba(2, 79, 162, 0.2);
}

.titulo {
  font-size: 28px;
  font-weight: 800;
  margin: 20px ;
  color: #1e293b;
}

.errorText {
  color: #ef4444;
  background-color: #fee2e2;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 600;
}