/*****/
/*Fuente*/
/**********************/

@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/***********************************/
/* variables globales*/
/***********************************/

:root {
    --primario: #024fa2;
    --primario-claro: #eef6ff;
    --primario-oscuro: #003366;
    --fondo-gris: #e2e8f0;
    --bg-body: #f8fafc;
    --blanco: #ffffff;
    --accent: #DB5757;
    --aceptado: #49B253;
    --texto-oscuro: #1e293b;
    --texto-claro: #64748b;      
    --shadow-sm: 0 1px 3px rgba(0,0,0,0.1);
    --shadow-lg: 0 10px 25px rgba(2, 79, 162, 0.2);
    --radius-lg: 24px;
    --radius-sm: 12px;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.hidden {
    display: none;
}

body {
    background-color: var(--bg-body);
    color: var(--texto-oscuro);
}

/* espacios y margenes */
.mb-0 { margin-bottom: 0 !important; }
.mb-15 { margin-bottom: 15px; }
.mb-25 { margin-bottom: 25px; }
.mt-15 { margin-top: 15px; }

/* anchura */
.w-100 { width: 100%; }
.w-60 { width: 60%; }
.w-40 { width: 40%; }

/* textos */
.text-center { text-align: center; }
.font-bold { font-weight: 700; }


/* layout form */
.form-row { 
    display: flex; 
    gap: 15px; 
    flex-wrap: wrap;
}

.form-col { 
    flex: 1; 
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.col-small { 
    flex: 0.3; 
    min-width: 140px; 
}

.align-end { 
    align-items: flex-end;
}

/* input misma linea */
.input-group { 
    display: flex; 
    gap: 10px; 
    width: 100%; 
}

#btn-add-regla {
    height: 38px; 
}